/*
*= require dialog-polyfill
*/
@import "materialize/components/color";
$primary-color: color("teal", "darken-4") !default;
$secondary-color: color("blue-grey", "accent-4") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

@import "material/material-icons";
@import "material/roboto";


.no-select{
	display: block;
	color: $secondary-color;
}