<div class="row">
	<div class="col s8 center-align">
		<h1>Añadir Venta</h1>
	</div>
	<div class="col s4">
		<%= link_to  @l_ventas, class:"waves-effect waves-light btn" do %>
			Ver Libro de Ventas
		<% end %>
	</div>
</div>

<%= render 'form' %>


<%= link_to root_path, class:"waves-effect waves-light btn cyan darken-4 btn-floating" do %>
	<i class="material-icons left">arrow_back</i>
<%end%>

