<h1>Añadir Contribuyente</h1>

<%= render 'form' %>

<%= link_to root_path, class:"waves-effect waves-light btn cyan darken-4 btn-floating" do %>
	<i class="material-icons left">arrow_back</i>
<%end%>

